p{
    width: 500px;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
    font-family: Arial;
    text-indent: 40px;
}

h1 {
    color: green;
}

h2 {
    color: skyblue;
}

h3 {
    color: red;
}