#elem {
    width: 300px;
    height: 100px;
    border: 1px solid red;
    border-radius: 10px 20px 30px 40px;
}
#elem2{
    width:150px;
    height:150px;
    border:1px solid green;
    border-radius: 5px 20px 45px 50px;
}